* {
  background: black;
  color: white;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}
#app .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
#app .content .week {
  font-size: 3rem;
}
#app .content .time {
  font-size: 4rem;
  font-weight: bold;
}
#app .content .date {
  font-size: 3rem;
}
